{# menus|displayMenu()|raw #}

<nav>
    <ul>
        <li><a href="{{ path('mediashare_app_homepage') }}" title="">Accueil</a></li>
        <li><a href="" title=""></a></li>
        <li><a href="" title=""></a></li>
        <li><a href="" title=""></a></li>
        <li><a href="{{ path('mediashare_app_contact') }}" title="">Contact</a></li>
    </ul>
</nav>